@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.ttf') format("truetype");
    font-display: swap;
  }

:root {
    font-family: -apple-system, 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}